<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style11.css" type="text/css" />
    <link rel="stylesheet" href="./css/style22.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="./js/js11.js"></script>
    <script src="../js/disable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .split {
            height: 95%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 10%;
            overflow-x: hidden;
            padding-top: 20px;
        }
        .left {
            left: 0;
        }
        .right {
            right: 0;
        }
        .topnav {
            overflow: hidden;
            background-color: #333;
        }
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 text-center">
        <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12">
            <h4  id="profile-title">{{title}}</h4>
        </div>
        </div>
    </div>
    <div class="split left">
        <iframe src="{{fileurl}}#toolbar=0" frameborder="0" scrolling="yes"                           
            style="overflow: hidden; height: 100%;" height="100%" width="100%"
            align="left">
        </iframe> 
    </div>
    <div class="split right">
        <h3>Score: {{score}}</h3><br><br>
        <textarea>{{code}}</textarea><br><br>
        <h3>Test Cases Passed: {{pass}}</h3>
    </div>
    {{{body}}}
    <script
    src="https://code.jquery.com/jquery-2.0.3.min.js"
    integrity="sha256-sTy1mJ4I/LAjFCCdEB4RAvPSmRCb3CU7YqodohyeOLo="
    crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>
</html>